@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif; 
}
body{
    background-color: #181555;
    color: white;
}
header{
    /*background-color: #96A3F4;
    opacity: 30%;*/
    background-color: #0F0D3C;
    width: 100%;
    height: 50px;
}
.login{
    float: right; /*comentar do float*/
    padding: 8px;
    padding-right: 20px;
}
.home{
    max-width: 60px;
    max-height: 60px;
    float: left; /*comentar do float*/
    padding: 8px;
    padding-left: 20px;
}
.carrosel-games {
    padding: 100px;
    padding-left: 60px;
    display: flex;
    background-image: url(imagens/game-fundo-blackflag.jpg);
}
.blur{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(105, 105, 105, 0.18);
    box-shadow: 0 15px 32px 0 rgba(0, 0, 0, 0.37);
}
.botao1{
    background-color: white;
    border: none;
    color: black;
    padding: 8px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}
.botao1:hover{
    background-color: rgb(226, 226, 226);
}
.botao2{
    background-color: white;
    border: none;
    color: black;
    padding: 8px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}
.botao2:hover{
    background-color: rgb(226, 226, 226);
}
.infos-games{
    padding-top: 20px; 
    text-align: center;
}
.system-requirements {
    background-color: #181555;
    padding: 20px;
    margin: 20px 0;
}
.requirements-table {
    width: 100%;
    border-collapse: collapse;
    padding-left: 18%;
}
.requirements-table th, .requirements-table td {
    border: 1px solid #c0c0c9;
    padding: 8px;
    text-align: center;
}
.requirements-table th {
    background-color: #181555;
}