@font-face {
    font-family: 'ScreenFont';
    src: url(scream/SCREAM__.TTF);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace
}
body{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    color: rgb(0, 0, 0);
}

.caixa{
    width: 500PX;
    height: 500PX;
    background-color: rgb(228, 225, 225);
    color: #000000;
    border-radius: 20px;
    padding: 40px 40px;
}

.caixa_esqueci {
    width: 500PX;
    height: 350px;
    background-color: rgb(228, 225, 225);
    color: #000000;
    border-radius: 20px;
    padding: 40px 40px;
}
.caixa_esqueci h1{
    font-size: 36px;
    text-align: center;

}



.caixa_esqueci .inputbox{
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 4px;
}

.inputbox .icone{
    position:absolute;
    padding-top: 15px;
    min-width: 40px;
}
.caixa_esqueci span{
    padding: 10px;
    margin-top: -3px;
    display: block;
    text-align: center;
    
}
.LOGO h1{
    font-family: 'ScreenFont';
    padding: 60px;
    margin: 10px;
    position:relative
}
.caixa h1{
    font-size: 36px;
    text-align: center;
}

.caixa .inputbox{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}


.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 60px;
}

.caixa .btn {
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 70px;
}

.caixa .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #000000;
    margin-right: 3px;
}
.remember-forgot a{
    color: #000000;
    text-decoration: none;

}
.remember-forgot a:hover{
    text-decoration: underline;
}
